body {
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  color: #010000;
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

a:hover {
  color: #93796C;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.container-fluid {
  line-height: 24px;
}

.container-fluid {
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
  font-family: 'Open Sans';
  background-color: #5e5e5e;
  padding-left: 0px;
  padding-right: 0px;
  border-left: 50px solid #484848;
  border-right: 50px solid #484848;
  border-bottom: 50px solid #484848;
}

.container-fluid .page-top {
  padding-top: 20px;
  background: #5e5e5e;
  width: 100%;
  color: #e6e6e6;
}

.container-fluid .page-top h1 {
  text-align: center;
  padding-bottom: 10px;
}

.container-fluid .page-top h5 {
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  margin-bottom: 0px;
}

.container-fluid .front-page-image {
  padding-top: 0px;
}

.container-fluid .front-page-image img {
  position: relative;
  width: 100%;
}

.container-fluid .news {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  background: #F8F8FF;
  /* Float four columns side by side */
  /* Remove extra left and right margins, due to padding in columns */
  /* Clear floats after the columns */
  /* Style the counter cards */
  /* Responsive columns - one column layout (vertical) on small screens */
}

.container-fluid .news .blueHeading {
  color: #4682B4;
  font-size: 40px;
  text-align: center;
}

.container-fluid .news .column {
  float: left;
  width: 50%;
}

.container-fluid .news .row {
  margin: 0 -5px;
}

.container-fluid .news .row:after {
  content: "";
  display: table;
  clear: both;
}

.container-fluid .news .card {
  width: 600px;
  padding: 20px;
  overflow: hidden;
  display: inline-block;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  color: #484848;
}

.container-fluid .news .card img {
  height: 25%;
  width: 25%;
  margin-right: 15px;
  float: left;
}

.container-fluid .news .card h3 {
  margin-left: 15px;
  display: block;
  margin: 2px 0 0 0;
  color: #484848;
  font-size: 16px;
}

.container-fluid .news .card p {
  margin-left: 15px;
  display: block;
  margin: 2px 0 0 0;
  color: #989898;
  font-size: 12px;
}

@media screen and (max-width: 600px) {
  .container-fluid .news .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.container-fluid .page-bottom {
  padding-top: 20px;
  padding-bottom: 20px;
  background: #ffffff;
  width: 100%;
  text-align: center;
  color: #484848;
}

.container-fluid .page-bottom h2 {
  text-align: center;
  padding-bottom: 10px;
  font-size: 40px;
  color: #484848;
}

.container-fluid .page-bottom h4 {
  text-align: center;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  color: #A9A9A9;
}

.container-fluid .page-bottom img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.container-fluid .page-bottom .video {
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.container-fluid .page-bottom {
  padding-top: 20px;
  padding-bottom: 20px;
  background: #ffffff;
  width: 100%;
}

.container-fluid .page-bottom h2 {
  text-align: center;
  padding-bottom: 10px;
}

.container-fluid .page-bottom h4 {
  text-align: center;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
}

.container-fluid .page-bottom img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.container-fluid .page-bottom .video {
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

header {
  position: relative;
  display: block;
  width: 100%;
  background: #484848;
  color: #ffffff;
  height: 130px;
  border-left: 50px solid #484848;
  border-right: 50px solid #484848;
  border-top: 20px solid #484848;
  padding-bottom: 125px;
}

header .logo {
  position: absolute;
  top: 50%;
  left: 15px;
  -webkit-trabsform: translateY(-50%);
  -moz-trasnform: translateY(-50%);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100px;
  height: 100px;
}

header nav,
header nav ul,
header nav ul li {
  margin: 0;
  padding: 0;
}

header nav {
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-trabsform: translateY(-50%);
  -moz-trasnform: translateY(-50%);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

header nav ul li {
  list-style-type: none;
  display: inline-block;
  margin-right: 20px;
}

header nav ul li.last {
  margin: 0;
}

header nav ul li a {
  font-size: 19px;
  line-height: normal;
  color: #ffffff;
}

header nav ul li a:hover {
  text-decoration: none;
}

footer {
  position: relative;
  display: block;
  width: 100%;
  background: #484848;
  color: #C0C0C0;
  height: 130px;
  border-left: 50px solid #484848;
  border-right: 50px solid #484848;
  border-bottom: 50px solid #484848;
  text-align: center;
}

footer .fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  color: #978D9A;
}

footer a {
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  cursor: pointer;
}

footer a:hover {
  color: #8F6954;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}
/*# sourceMappingURL=default.css.map */